---
http_interactions:
- request:
    method: delete
    uri: https://api.test.datacite.org/dois/10.5072/tuprints-dev.ulb.tu-darmstadt.de.10007357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Tue, 20 Nov 2018 22:25:01 GMT
recorded_with: VCR 3.0.3
