---
http_interactions:
- request:
    method: post
    uri: https://app.test.datacite.org/dois/10.14454/05MB-Q396/media
    body:
      encoding: UTF-8
      string: '{"data":{"type":"media","attributes":{"media-type":"application/pdf","url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"d8a685eedfb34cdf6ca2b6a96516f34c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0000-0000-mzxd","type":"media","attributes":{"version":0,"url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf","media-type":"application/pdf","created":"2018-06-16T14:40:44.000Z","updated":"2018-06-16T14:40:44.000Z"},"relationships":{"doi":{"meta":{}}}}}'
  recorded_at: Sat, 16 Jun 2018 14:40:46 GMT
recorded_with: VCR 3.0.3
