---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5438/0012/get-url
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 15 Jun 2018 04:24:40 GMT
recorded_with: VCR 3.0.3
