---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois/10.5072/x86n-nm18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"36251fdeba609c1cf3a588354d285c79"
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/X86N-NM18</identifier>
          <creators>
            <creator>
              <creatorName nameType="Personal">Fenner, Martin</creatorName>
              <givenName>Martin</givenName>
              <familyName>Fenner</familyName>
              <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID">https://orcid.org/0000-0003-1419-2405</nameIdentifier>
            </creator>
          </creators>
          <titles>
            <title>Eating your own Dog Food</title>
          </titles>
          <publisher>DataCite</publisher>
          <publicationYear>2016</publicationYear>
          <resourceType resourceTypeGeneral="Text">BlogPosting</resourceType>
          <subjects>
            <subject>datacite</subject>
            <subject>doi</subject>
            <subject>metadata</subject>
            <subject>featured</subject>
          </subjects>
          <dates>
            <date dateType="Issued">2016-12-20</date>
            <date dateType="Created">2016-12-20</date>
            <date dateType="Updated">2016-12-20</date>
          </dates>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="IsPartOf" resourceTypeGeneral="Text">10.5438/0000-00ss</relatedIdentifier>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5438/0012</relatedIdentifier>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5438/55e5-t5c0</relatedIdentifier>
          </relatedIdentifiers>
          <version>1.0</version>
          <rightsList>
            <rights rightsURI="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</rights>
          </rightsList>
          <descriptions>
            <description descriptionType="Abstract">Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...</description>
          </descriptions>
        </resource>
  recorded_at: Fri, 07 Dec 2018 18:10:08 GMT
recorded_with: VCR 3.0.3
