---
http_interactions:
- request:
    method: delete
    uri: https://api.test.datacite.org/dois/10.14454/05mb-q396/media/0000-0000-0000-mzxb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 19 Jul 2018 20:23:53 GMT
recorded_with: VCR 3.0.3
