---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.14454/05mb-q396/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"831137dec341255d488185b3da0e070d"
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":1,"total-pages":1,"page":1}}'
  recorded_at: Thu, 14 Jun 2018 13:53:50 GMT
recorded_with: VCR 3.0.3
