---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.14454/05mb-q396/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"28750172fb649ad8210f3840d62c4095"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":1,"total-pages":1,"page":1},"links":{"self":"https://api.test.datacite.org/dois/10.14454/05mb-q396/media"}}'
  recorded_at: Tue, 20 Nov 2018 23:01:38 GMT
recorded_with: VCR 3.0.3
