---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois/10.14454/05mb-q396/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"28750172fb649ad8210f3840d62c4095"
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":1,"total-pages":1,"page":1},"links":{"self":"https://api.stage.datacite.org/dois/10.14454/05mb-q396/media"}}'
  recorded_at: Sat, 01 Dec 2018 21:45:34 GMT
recorded_with: VCR 3.0.3
