---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois/10.14454/05mb-q396/media
    body:
      encoding: UTF-8
      string: '{"data":{"type":"media","attributes":{"media-type":"application/pdf","url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"7929fe5213f9e0a408c239febbec1140"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0000-0000-n001","type":"media","attributes":{"version":2,"url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf","media-type":"application/pdf","created":"2018-07-19T20:23:51.000Z","updated":"2018-07-19T20:23:51.000Z"},"relationships":{"doi":{"meta":{}}}}}'
  recorded_at: Thu, 19 Jul 2018 20:23:52 GMT
recorded_with: VCR 3.0.3
