---
http_interactions:
- request:
    method: post
    uri: https://app.test.datacite.org/dois/10.14454/05mb-q396/media
    body:
      encoding: UTF-8
      string: '{"data":{"type":"media","attributes":{"media-type":"application/pdf","url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"511974b16fb9d0066ff9349c89a20fdd"
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0000-0000-mzxb","type":"media","attributes":{"version":1,"url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf","media-type":"application/pdf","created":"2018-06-14T13:53:37.000Z","updated":"2018-06-14T13:53:37.000Z"},"relationships":{"doi":{"meta":{}}}}}'
  recorded_at: Thu, 14 Jun 2018 13:53:52 GMT
recorded_with: VCR 3.0.3
