---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.14454/05MB-Q396
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"https://www.datacite.org/roadmap.html","should_validate":"true","source":"mds","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"metadata","title":"Is invalid"},{"source":"metadata","title":"Is
        invalid"}]}'
  recorded_at: Sat, 01 Dec 2018 22:06:17 GMT
recorded_with: VCR 3.0.3
