---
http_interactions:
- request:
    method: put
    uri: https://app.test.datacite.org/dois/10.14454/05MB-Q396d
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"https://www.datacite.org/","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.TEST"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 13 Jul 2018 15:04:00 GMT
recorded_with: VCR 3.0.3
