---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.14454/05MB-Q396/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ca5c1ddbb33a0cde28379ad7d4cc7aa5"
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Thu, 14 Jun 2018 19:41:05 GMT
recorded_with: VCR 3.0.3
