---
http_interactions:
- request:
    method: patch
    uri: https://app.test.datacite.org/dois/10.5072/ey2x-5w17
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"is-active":false},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 15 Jun 2018 04:55:14 GMT
recorded_with: VCR 3.0.3
