---
http_interactions:
- request:
    method: patch
    uri: https://app.test.datacite.org/dois/10.5438/m21h-3007
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"event":"hide"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"fb044ff2bd878a38eb87e479370ce846"
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438/m21h-3007","type":"dois","attributes":{"doi":"10.5438/m21h-3007","prefix":"10.5438","suffix":"m21h-3007","identifier":"https://handle.test.datacite.org/10.5438/m21h-3007","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":false,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"created":"2018-07-13T21:53:59.000Z","registered":null,"updated":"2018-07-13T21:53:59.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Fri, 13 Jul 2018 21:54:17 GMT
recorded_with: VCR 3.0.3
