---
http_interactions:
- request:
    method: patch
    uri: https://api.test.datacite.org/dois/10.5438/m21h-3007
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"event":"hide"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"403","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Tue, 20 Nov 2018 22:36:40 GMT
recorded_with: VCR 3.0.3
