---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/10.5072/ey8x-9f93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Content-Disposition:
      - attachment; filename=_10.5072_ey8x-9f93.xml
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"5c9ccfce00086a4f6db262b4615f9044"
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/EY8X-9F93</identifier>
          <creators>
            <creator>
              <creatorName>Fenner, Martin</creatorName>
              <givenName>Martin</givenName>
              <familyName>Fenner</familyName>
            </creator>
          </creators>
          <titles>
            <title>Eating your own Dog Food</title>
          </titles>
          <publisher>DataCite</publisher>
          <publicationYear>2016</publicationYear>
          <resourceType resourceTypeGeneral="Text">BlogPosting</resourceType>
          <dates>
            <date dateType="Issued">2016-12-20</date>
          </dates>
          <version/>
          <descriptions>
            <description descriptionType="Abstract">Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...</description>
          </descriptions>
        </resource>
  recorded_at: Sun, 17 Jun 2018 20:18:18 GMT
recorded_with: VCR 3.0.3
