---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/10.5072/fk2-003r-j076
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 19 Jul 2018 19:20:49 GMT
recorded_with: VCR 3.0.3
