---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/10.14454/05mb-q396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      Content-Disposition:
      - attachment; filename=_10.14454_05mb-q396.xml
      X-Anonymous-Consumer:
      - 'true'
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"75c07ddbd8bea87fc628109520e93654"
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.14454/05MB-Q396</identifier>
          <creators>
            <creator>
              <creatorName>Sankar, Martial</creatorName>
              <givenName>Martial</givenName>
              <familyName>Sankar</familyName>
            </creator>
            <creator>
              <creatorName>Nieminen, Kaisa</creatorName>
              <givenName>Kaisa</givenName>
              <familyName>Nieminen</familyName>
            </creator>
            <creator>
              <creatorName>Ragni, Laura</creatorName>
              <givenName>Laura</givenName>
              <familyName>Ragni</familyName>
            </creator>
            <creator>
              <creatorName>Xenarios, Ioannis</creatorName>
              <givenName>Ioannis</givenName>
              <familyName>Xenarios</familyName>
            </creator>
            <creator>
              <creatorName>Hardtke, Christian S</creatorName>
              <givenName>Christian S</givenName>
              <familyName>Hardtke</familyName>
            </creator>
          </creators>
          <titles>
            <title>Automated quantitative histology reveals vascular morphodynamics during Arabidopsis hypocotyl secondary growth</title>
          </titles>
          <publisher>{eLife} Sciences Organisation, Ltd.</publisher>
          <publicationYear>2014</publicationYear>
          <resourceType resourceTypeGeneral="Text">JournalArticle</resourceType>
          <dates>
            <date dateType="Issued">2014</date>
          </dates>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="ISSN" relationType="IsPartOf">2050-084X</relatedIdentifier>
          </relatedIdentifiers>
          <version/>
          <rightsList>
            <rights rightsURI="http://creativecommons.org/licenses/by/3.0/"/>
          </rightsList>
          <descriptions>
            <description descriptionType="Abstract">Among various advantages, their small size makes model organisms preferred subjects of investigation. Yet, even in model systems detailed analysis of numerous developmental processes at cellular level is severely hampered by their scale.</description>
          </descriptions>
        </resource>
  recorded_at: Thu, 14 Jun 2018 12:15:00 GMT
recorded_with: VCR 3.0.3
