---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.14454/05MB-Q396/media/0000-0000-0000-mzzy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"4f70ba98ebb4726daa0abbd8d80e423c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0000-0000-mzzy","type":"media","attributes":{"version":0,"url":"https://schema.datacite.org/meta/kernel-4.1/doc/DataCite-MetadataKernel_v4.1.pdf","media-type":"application/pdf","created":"2018-07-19T19:31:14.000Z","updated":"2018-07-19T19:31:14.000Z"},"relationships":{"doi":{"data":{"id":"10.14454/05mb-q396","type":"dois"}}}},"included":[{"id":"10.14454/05mb-q396","type":"dois","attributes":{"doi":"10.14454/05mb-q396","prefix":"10.14454","suffix":"05mb-q396","identifier":"https://handle.test.datacite.org/10.14454/05mb-q396","url":"https://blog.datacite.org/","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"findable","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"created":"2018-07-19T19:25:28.000Z","registered":null,"updated":"2018-07-19T19:26:16.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}]}'
  recorded_at: Thu, 19 Jul 2018 19:32:14 GMT
recorded_with: VCR 3.0.3
