---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/xxxxxx/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Tue, 20 Nov 2018 22:15:35 GMT
recorded_with: VCR 3.0.3
