---
http_interactions:
- request:
    method: delete
    uri: https://api.stage.datacite.org/dois/10.5072/236y-qx15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 07 Dec 2018 18:13:30 GMT
recorded_with: VCR 3.0.3
