---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.5072/236y-qx15
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/236y-qx15","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"ff9e1cf1bd89fae4fbb7f7f4a7df132b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/236y-qx15","type":"dois","attributes":{"doi":"10.5072/236y-qx15","prefix":"10.5072","suffix":"236y-qx15","identifier":"https://handle.test.datacite.org/10.5072/236y-qx15","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":false,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"created":"2018-07-19T19:20:38.000Z","registered":null,"updated":"2018-07-19T19:20:38.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Thu, 19 Jul 2018 19:21:00 GMT
recorded_with: VCR 3.0.3
