---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.5072/236y-qx15
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/236y-qx15","validate":"true","source":"mds","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"3c28819885ef12cbec1a3faa95890ffa"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/236y-qx15","type":"dois","attributes":{"doi":"10.5072/236y-qx15","prefix":"10.5072","suffix":"236y-qx15","identifier":"https://handle.test.datacite.org/10.5072/236y-qx15","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":false,"reason":null,"source":"mds","landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"created":"2018-08-03T15:46:27.000Z","registered":null,"updated":"2018-08-03T15:46:27.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Fri, 03 Aug 2018 15:46:27 GMT
recorded_with: VCR 3.0.3
