---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.5072/236y-qx15
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/236y-qx15","should_validate":"true","source":"mds","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"xml","title":"Can''t be blank"}]}'
  recorded_at: Fri, 07 Dec 2018 18:16:03 GMT
recorded_with: VCR 3.0.3
