---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.5072/fbftv0vreuqv
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"https://identifiers.globus.org/doi:10.5072/FBFTV0VREUQV/landingpage","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"42612d7802dc6ac3ab7ef3a90dad687f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/fbftv0vreuqv","type":"dois","attributes":{"doi":"10.5072/fbftv0vreuqv","prefix":"10.5072","suffix":"fbftv0vreuqv","identifier":"https://handle.test.datacite.org/10.5072/fbftv0vreuqv","url":"https://identifiers.globus.org/doi:10.5072/FBFTV0VREUQV/landingpage","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"findable","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"created":"2018-07-19T19:20:29.000Z","registered":null,"updated":"2018-07-19T19:20:29.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Thu, 19 Jul 2018 19:20:51 GMT
- request:
    method: delete
    uri: https://api.test.datacite.org/dois/10.5072/fbftv0vreuqv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 405
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 405 Method Not Allowed
      X-Credential-Username:
      - datacite.datacite
      Allow:
      - HEAD, GET, POST, PATCH, PUT, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"405","title":"Method not allowed"}]}'
  recorded_at: Thu, 19 Jul 2018 19:20:51 GMT
recorded_with: VCR 3.0.3
