---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.5072/fbftv0vreuqv
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"https://identifiers.globus.org/doi:10.5072/FBFTV0VREUQV/landingpage","validate":"true","source":"mds","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"4383dd0cd4995943667d898be6638388"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/fbftv0vreuqv","type":"dois","attributes":{"doi":"10.5072/fbftv0vreuqv","prefix":"10.5072","suffix":"fbftv0vreuqv","identifier":"https://handle.test.datacite.org/10.5072/fbftv0vreuqv","creator":[],"titles":[],"publisher":null,"periodical":null,"publicationYear":null,"subjects":[],"contributor":[],"dates":[],"language":null,"types":{"ris":"GEN","bibtex":"misc","citeproc":"article","schemaOrg":"CreativeWork"},"alternateIdentifiers":null,"relatedIdentifiers":null,"sizes":[],"formats":[],"version":null,"rightsList":null,"descriptions":[],"geoLocations":null,"fundingReferences":null,"xml":null,"url":"https://identifiers.globus.org/doi:10.5072/FBFTV0VREUQV/landingpage","contentUrl":null,"metadataVersion":0,"schemaVersion":null,"source":"mds","isActive":false,"state":"draft","reason":null,"landingPage":{"status":null,"contentType":null,"checked":null,"result":null},"created":"2018-11-18T17:54:41.000Z","registered":null,"updated":"2018-11-20T22:15:33.000Z"},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"media":{"data":[]}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contactName":"Martin
        Fenner","contactEmail":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-08-26T01:30:27.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"},{"id":"10.70002","type":"prefixes"}]}}}]}'
  recorded_at: Tue, 20 Nov 2018 22:15:33 GMT
recorded_with: VCR 3.0.3
