---
http_interactions:
- request:
    method: delete
    uri: https://app.test.datacite.org/dois/10.14454/05mb-q396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 405
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 405 Method Not Allowed
      X-Credential-Username:
      - datacite.datacite
      Allow:
      - HEAD, GET, POST, PATCH, PUT, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"405","title":"Method not allowed"}]}'
  recorded_at: Sat, 16 Jun 2018 17:53:30 GMT
recorded_with: VCR 3.0.3
